nav {
    transition: 300ms;
}

nav.active {
    left: 120px;
    width: calc(100% - 160px);
}

nav.scroll {
    background-color: white;
}

aside {
    transition: 300ms;
}

aside.active {
    width: 80px;
}

aside.active img {
    display: none;
}

aside.active .side-bar-header {
    justify-content: center;
}

aside.active span {
    display: none;
}

aside.active .item {
    justify-content: center;
}

.btn-hide-side {
    transition: 500ms;
}

aside.active .btn-hide-side {
    transform: rotate(-180deg);
}

main {
    transition: 300ms;
}

main.active {
    margin-left: 80px;
}

.setting-extra {
    z-index: 200000 !important;
}

.setting-extra.show,
.notification-extra.show {
    display: flex;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #152c89;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #0f2370;
}

/* notifikasi */
.notifikasi-detail::-webkit-scrollbar {
    width: 5px;
}

.notifikasi-detail::-webkit-scrollbar-track {
    background: white;
}

.notifikasi-detail::-webkit-scrollbar-thumb {
    background-color: #152c89;
    border-radius: 6px;
}

.notifikasi-detail::-webkit-scrollbar-thumb:hover {
    background: #0f2370;
}

/*  */

.notif-list::-webkit-scrollbar {
    width: 5px;
}

.notif-list::-webkit-scrollbar-track {
    background: white;
}

.notif-list::-webkit-scrollbar-thumb {
    background-color: #152c89;
    border-radius: 6px;
}

.notif-list::-webkit-scrollbar-thumb:hover {
    background: #0f2370;
}

/*  */

.kehadiran-list::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

.kehadiran-list::-webkit-scrollbar-track {
    background: white;
    border: 1px solid #0f2370;
}

.kehadiran-list::-webkit-scrollbar-thumb {
    background-color: #152c89;
    border-radius: 10px;
}

.kehadiran-list::-webkit-scrollbar-thumb:hover {
    background: #0f2370;
}

table tr th:first-child {
    border-top-left-radius: 8px;
}

table tr th:last-child {
    border-top-right-radius: 8px;
}

#table-riwayat_wrapper,
#table-daftar-pengajuan_wrapper,
#table-karyawan_wrapper,
#table-mutasi_wrapper {
    margin-top: 20px;
}

.dataTables_length {
    margin-bottom: 10px;
    color: #0f2370 !important;
}

.dataTables_info {
    color: #0f2370 !important;
    margin-top: 10px;
}

.dataTables_paginate {
    margin-top: 10px;
}

.dataTables_filter {
    display: none;
}

.paginate_button.current {
    background-color: #0f2370 !important;
}

main .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #0f2370 !important;
}

main
    .dataTables_wrapper
    .dataTables_paginate
    .paginate_button:not(.current):not(.disabled):hover {
    background: #0f227036 !important;
    border: 1px solid #0f2370 !important;
    color: #0f2370 !important;
}

main .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fcbe00 !important;
    font-weight: 600;
}

main .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fcbe00 !important;
}

table.dataTable > tbody > tr {
    cursor: pointer;
    transition: 50ms;
}

table.dataTable > tbody > tr:hover {
    background-color: rgb(218, 218, 218);
}

table.dataTable > tbody > tr > td {
    padding: 20px 12px;
}

table.dataTable > tbody > tr > td.pending,
span.pending {
    color: #fcbe00 !important;
    font-weight: 600;
}

table.dataTable > tbody > tr > td.disetujui,
span.disetujui {
    color: rgb(22 101 52) !important;
    font-weight: 600;
}

table.dataTable > tbody > tr > td.ditolak,
span.ditolak {
    color: rgb(220 38 38) !important;
    font-weight: 600;
}
